%table#loans
  %thead
    %tr
      %th Title
      %th Start date
      %th Due date
      %th Times Extended
      %th Action
  %tbody
    - @loans.each do |loan|
      %tr
        %td= loan.book.title
        %td= loan.start_date
        %td= loan.return_date
        %td= loan.loan_extention_reqs.count
        %td= link_to 'Extend'